<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 定义欢迎页，当通过跟路径/访问项目时，默认跳转到index.jsp视图中 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- 声明spring上下文配置文件所在位置，可以使用通配符*等进行模糊匹配，当有多个配置文件时，可以使用逗号间隔 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- 审批ringmvc的核心分发器，它会默认自动加载WEB-INF文件夹下的<servlet-names>-servlet.xml文件，在这里，我们的servlet-nane为springMVC -->
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 如果我们的配置文件不在默认路径下，我们需要通过<init-param>配置一个contextConfigLocation指定springMVC分发器配置文件位置 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:servlet-context.xml</param-value>
		</init-param>
		<!-- 设置当前servlet在所有servlet中第一个启动 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
<!--  配置springMVC控制器的拦截url,默认所有url都被拦截-->
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 配置上下文载入监听器，它会在web服务启动时，根据contextConfigLocation中声明的spring配置文件位置载入配置信息 
		需要注意的是，它不会载入DispatcherServlet已经载入的配置文件 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 字符集处理过滤器，能够强制对所有web请求编码进行utf-8编码，从而有效避免乱码产生 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
